@use '@/styles/variables' as vars;

.page {
  background: vars.$bg-white-image center / cover no-repeat;
  padding-top: 116px;

  @media (max-width: vars.$tablet-breakpoint) {
    padding-top: 96px;
  }
}

.headerBar {
  width: 100%;
  height: 140px;
  background: vars.$primary-blue;

  @media (max-width: vars.$tablet-breakpoint) {
    height: 110px;
  }
}

.container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0px vars.$container-padding 0px;
  display: grid;
  gap: 24px;

  @media (max-width: vars.$tablet-breakpoint) {
    padding: 24px 16px 40px;
    gap: 16px;
    margin: 0;
  }
}

.breadcrumbsWrapper {
  justify-self: start;
}

.title {
  font-size: clamp(28px, 4vw, 56px);
  font-weight: 700;
  text-transform: uppercase;
  color: vars.$primary-blue;
  margin: 0;
}
