@import '@/styles/_variables.scss';

.section {
  background: $color-white;
  height: 780px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  direction: ltr;
  @media (max-width: $desktop-breakpoint) {
    height: auto;
  }
}

.innerLeft {
  min-height: 680px;
  background: $primary-color;
  width: 50%;

  clip-path: polygon(
                  81% 0%,
                  0% 0%,
                  0% 63%,
                  0% 99%,
                  81% 99%,
                  100% 85%,
                  100% 15%
  );
  box-shadow: 1px 0 0 0 $primary-color;

  @media (max-width: $desktop-breakpoint) {
    display: none;
  }
}

.innerRight {
  min-height: 476px;
  background: $primary-color;
  width: 50%;
  box-shadow: -1px 0 0 0 $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;

  @media (max-width: $desktop-breakpoint) {
    width: auto;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $color-white;
}

.title {
  font-weight: 700;
  font-size: clamp(40px, 4vw, 45px);
  line-height: 87%;

  @media (max-width: $desktop-breakpoint) {
    text-align: center;
  }
}

.description {
  font-weight: 500;
  font-size: clamp(18px, 4vw, 20px);
  line-height: 110%;
}

.bgImage {
  position: absolute;
  object-fit: contain;
  top: -9%;
  z-index: 2;

  //@media (max-width: $desktop-breakpoint) {
  //  top: 65%;
  //  width: 100%;
  //  transform: scaleX(-1);
  //  background: $primary-color;
  //  clip-path: inset(18.7% 0 20% 0);
  //}
}
