@import '@/styles/_variables.scss';

.button {
  background: linear-gradient(#1660E9, #0D3683);
  border: 4px solid $color-white;
  border-radius: 180px;
  padding: 32px;
  font-family: "Monserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(42px, 4vw, 72px);
  line-height: 87%;
  text-align: center;
  color: $color-white;
  cursor: pointer;
  @media (max-width: $tablet-breakpoint) {
    padding: 16px 32px;
    width: 100%;
  }
}

.buttonSmall {
  padding: 14px 28px;
  font-size: clamp(18px, 3vw, 28px);
  border-width: 3px;
  width: auto;

  @media (max-width: $tablet-breakpoint) {
    width: auto;
  }
}